<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=iso-8859-1" />
  <title>AWS::S3 - Ruby Library for Amazon Simple Storage Service (S3)</title>
  <link rel="Stylesheet" href="screen.css" type="text/css" media="screen" />
  <link rel="Stylesheet" href="ruby.css" type="text/css" media="screen" />
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
</head>

<body>
  <div class="page_area">
    <div class="left_column">
      <img id="logo" src="images/box-and-gem.gif" />
    </div>
    <div class="column">
      <div class="header">
        <h2>AWS::S3</h2>
        <h3>A Ruby Library for Amazon's Simple<br />Storage Service's (S3) REST API.</h3>
      <p class="links">
      <a href="http://rubyforge.org/viewvc/s3/trunk/?root=amazon">Browse code</a> |
      <a href="http://amazon.rubyforge.org/doc/">Docs</a> |
      <a href="http://rubyforge.org/frs/?group_id=2409">Downloads</a> |
      <a href="http://rubyforge.org/tracker/?group_id=2409">Bugs &amp; Patches</a> |
      <a href="http://rubyforge.org/mailman/listinfo/amazon-s3-dev">Mailing list</a></p>
        <h4>Download with RubyGems</h4>
        <pre>sudo gem i aws-s3</pre>
        <h4>Download from the svn repository</h4>
        <pre>svn co svn://rubyforge.org/var/svn/amazon/s3/trunk aws</pre>
      </div>

      <div class="readme">

<h2>Readme</h2>
<h4 class="first">Getting started</h4>
<%= erb_data[:readme] %>
</body>
</html>
